@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1 {
    font-family: sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #8F006B;
}

h2 {
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #8F006B;
}

dl {
    border: 1px solid red;
    /*overflow hidden can be used as a clearfix ot wo;; remind the <dl> to wrap around all its floated children */
    overflow: hidden;
}

dt {
    float: left;
    /* clear tells the elment to go to below the otheer floated things
    */
    clear: left;
    width: 8rem;
}

dd {
    float: left;
    margin: 0;
    padding: 0;
}

