@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    background-color: #A89A8A;
}

h1 {
    font-family: sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #8F006B;
}

h2 {
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #8F006B;
}

img {
    
    